<% @files.each do |name| %>
   <% unless name.nil? %>
     <div><%= name %></div>
      <img src="../images/<%= name %>">
      <div>
      <a  href="/download/<%= name %>">Download file</a>
    </div>
    <a href="/show_files/<%= name %>/remove">Delete</a>
   <% end %>
  <% end %>
