<a  href="/new_unit">Add new unit</a>
<ul>
  <% @units.each do |unit, unit_details| %>
    <li>
      <%= unit.capitalize %>
      <ul>
        <a href="/<%= unit %>"><img src="<% @unit_profile_pics %><%= unit_details['pic'] %>"/></>
      </ul>
    </li>
  <% end %>
</ul>
