<!doctype html>
<html lang="en-US">
  <head>
    <title>RiceMine</title>
    <meta charset="utf-8">
    <link href="stylesheets/uni_info_view.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1><%= @title %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
