<!doctype html>
<html lang="en-US">
  <head>
    <title>RiceMine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <link href="/stylesheets/uni_info_view.css" rel="stylesheet" type="text/css" />
    <script src="/javascripts/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="/javascripts/rice.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>DestinyChild(JP) units info</h1>
    <main>
      <% if session[:message] %>
        <p class="message"><%= session.delete(:message) %></p>
      <% end %>
      <%== yield %>
    </main>
  </body>
</html>
