<!doctype html>
<html lang="en-US">
  <head>
    <title>RiceMine</title>
    <meta charset="utf-8">
    <link href="/stylesheets/uni_info_view.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Destiny Japan units info</h1>
    <main>
      <% if session[:message] %>
        <p class="message"><%= session.delete(:message) %></p>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
