<p>
<a id="add_new_unit" href="/">BACK TO MAIN MENU</a>
</p>

<p>There are <%= @details.keys.size %> units in the file. </p>
<p>Their names are: <%= @details.keys.sort %></p>
<p>
<a id="add_new_unit" href="/download/unit_details.yml">Get unit details</a>
</p>
<p>
<a id="add_new_unit" href="/download/soul_cards.yml">Get soulcard details</a>
</p>
