/* #canvas {
  display: none;
  position: absolute;
  left: 10px;
} */
header {
  /* box-shadow: 0px -7px 60px #867659;
    background-color: #35322c; */
    box-shadow: 0px -7px 60px #000000;
    background-color: #1f1d1a;
}

body {
  background-color: #2d2a2a;
}

.full_unit_imgs {
    width: 100%;
    margin-left: -40px;


    width: auto;
    max-height: 400px;
    margin: auto;
}

.show {
  display: block;
}

#paypal-form {
  display: flex;
  /* flex-wrap: wrap; */
  flex-flow: row;
}

#paypal-label {
  padding: 5px 10px 30px 10px;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: auto;
  background-color: #f6d38f;
  border-radius: 5px;
  width: auto;
  max-height: 15px;
  color: black;
}

#paypal-button {
background-color: unset;
width: 100px;
margin-right: auto;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

#paypal-label {
  position: absolute;
  right: 10px;
  top: 50px;
  background-color: #f6d38f;
  border-radius: 5px;
  padding: 0px 5px 25px 5px;
  color: black;
  z-index: 2;
}

#paypal-button {
position: absolute;
width: 100px;
top: 80px;
right: 35px;
}

#paypal-button:hover {
  width: 105px;
  right: 33px;
  top: 78px;
}

#sort_by_title {
  background-color: rgb(74, 74, 72);
  box-shadow: 0px 0px 10px rgb(86, 86, 82);
  border-radius: 5px;
}

h1, h2, h3, h4, h5, h6 {
  padding-bottom: 5px;
}

#popout {
  overflow-y: scroll;
}

.stat-cont-opacity {
  background-color: rgba(89, 88, 87, 0.3);
}

.profile-row-container {
  display: flex;
  flex-wrap: wrap;
    /* flex-flow: column; */
}

.profile-pic-container {
  width: 100%;
  max-width: 100%;
}

.profile-pic-container > .profile_imgs {
  display: contents;
}

/* right: 150px; */
/* width: 70%; */

}

@media (min-width: 992px) {


}
@media (min-width: 1200px) {

.profile-adj {
position: absolute;
right: 80px;
width: 50%;
}

.profile-row-container {
    flex-flow: row;
}

.profile-pic-container {
  width: 250px;
  max-width: 250px;
}
.profile-pic-container > .profile_imgs {
  display: block;
}
.profile-stat-col-container {
   flex-basis: auto;
}

.full_unit_imgs {
  visibility: hidden;
  padding-left: 0px;
    padding-right: 0px;
    /* height: auto; */
    /* width: 50%; */
    width: auto;
    /* max-width: 600px; */
    max-height: 500px;
    position: absolute;
    /* display: flex; */
    left: 10px;
    top: 130px;
}

#popout {
  overflow-y: hidden;
}

}

@media (min-width: 1680px) {
  .profile-adj {
  position: absolute;
  right: 110px;
  width: 50%;
  }


  .full_unit_imgs {
    visibility: hidden;
    padding-left: 0px;
      padding-right: 0px;
      /* height: auto; */
      /* width: 50%; */
      width: auto;
      /* max-width: 600px; */
      max-height: 600px;
      position: absolute;
      /* display: flex; */
      left: 130px;
      top: 130px;
  }

}
