/* =====================
basic styles
===================== */

@media only screen and (max-width: 600px) {

  html, body {
    margin: 0px;
    padding: 0px;
    background-color: #505560;
  }

  main {
     font-family: sans-serif;
     margin: 0em;
     margin-bottom: 10px
   }

  a:link, a:active, a:visited  {
  color: #bec6dd;
  text-decoration: none;
  }

  h1 {
    margin: 0em;
    padding: 1em;
    background-color: #292b33;
    color: #e8a855;
    width: auto;
    font-size: 2em;
  }

#links , #back_to_main{
  max-width: auto;
  margin-top: .5em;
  margin-left: .5em;
  padding: .3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
#links >a, #back_to_main >a {
  border-style: solid;
  border-width: 1px;
  margin: .1em;

  background-color: #666b75;
  padding: .3em;
}

#add_new_unit  {
    color: orange;
}
/* ===========index profiles=========== */

   /* main {
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
  } */
/* ===========index profiles borders=========== */
  .fire {
    border-style: solid;
    border-color: darkred;
  }
  .water {
    border-style: solid;
    border-color: blue;
  }
  .earth {
    border-style: solid;
    border-color: green;
  }
  .dark {
    border-style: solid;
    border-color: purple;
  }
  .light {
    border-style: solid;
    border-color: lightyellow;
  }

  .units_list_div {
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .unit_index_pic {
    width: 100px;
    height: 16.2em;
  }

  .unit_div {
    width: 100px;
    height: 19em;
    background-color: #292b33;
    margin-left: .5em;
    margin-top: .5em;
    /* overflow: hidden; */
  }

  .sc_index_pic {
    width: 150px;
  }

  .sc_div {
    width: 150px;
    height: 18.5em;
    margin-left: .5em;
    margin-top: .5em;
    background-color: #292b33;
  }


  .action_buttons {
    display: flex;
    flex-direction: row;
    padding: .5em;
    padding-left: 0em;
    background-color: #292b33;
  }

  h2 {
    font-size: 1em;
    height: auto;
    margin: 0em;
    padding: .3em;
    padding-left: .2em;
    background-color: #32343d;
    color: #e8a855;
  }

  .edit_button {
    padding-left: .2em;
  }

  .delete_button {
    padding-left: .5em;
    height: 15px;
  }
  /* ===========unit profiles=========== */

  .unit_profile_div {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }

  .unit_header_div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .main_short_unit_stats_div {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
  }

  .unit_profile_pic {
    padding-left: 10px;
    padding-bottom: 5px;
  }

  .profile_imgs {
    height: 272px;
  }

  .short_unit_stats_div {
    background-color:#424451;
    border-style: solid;
    border-width: 1px;
  }

  .short_stat_title {
    font-size: 1em;
    margin: 0em;
    padding: .3em;
    background-color: #32343d;
    color: #e8a855;
  }

  .short_stats {
    width: 100%;
    font-size: .9em;
    color: #c1885e;
    padding-left: 1em;
    margin-right: 1em;
  }

  .unit_stats_div {
    background-color:#424451;
    padding-bottom: 1em;
    padding-right: 1em;
  }

  .stat_title {
    font-size: 1em;
    height: auto;
    width: 100%;
    margin: 0em;
    padding: .5em;
    background-color: #32343d;
    color: #e8a855;
  }

  .stats {
    font-size: .9em;
    color: #c1885e;
    width: 100%;
  }

  ul {
    margin: 0em;
    padding: .5em;
  }

  /* ===========form profiles=========== */
  .form_div, .form_div2 {
    /* margin: 1em; */
      background-color:#424451;
  }

  .content {
    max-width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  label {
    color: #e8a855;
  }

  dt {

    background-color: #32343d;
    padding-left: .5em;
    padding: .5em;
  }

  input, textarea {
      background-color: #b7bacc;
  }
}


  /* ===========form profiles=========== */

                /* bigger screens */

    /* ===========form profiles=========== */
  @media only screen and (min-width: 601px) {

    html, body {
      margin: 0px;
      padding: 0px;
      background-color: #505560;
      margin-bottom: 10px;
    }

    main {
      font-family: sans-serif;
      margin: .5em;
     }

      a:link, a:active, a:visited  {
        color: #bec6dd;
        text-decoration: none;
      }

      h1 {
        margin: 0em;
        padding: 1em;
        background-color: #292b33;
        color: #e8a855;

      }

    #links , #back_to_main{
      max-width: auto;
      margin-top: .5em;
      margin-left: .5em;
      padding: .3em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

    }
    #links >a, #back_to_main >a {
      border-style: solid;
      border-width: 1px;
      margin: .1em;

      background-color: #666b75;
      padding: .3em;
    }

    #add_new_unit  {
        color: orange;
    }
    /* ===========index profiles=========== */


    /* ===========index profiles borders=========== */
      .fire {
        border-style: solid;
        border-color: darkred;
      }
      .water {
        border-style: solid;
        border-color: blue;
      }
      .earth {
        border-style: solid;
        border-color: green;
      }
      .dark {
        border-style: solid;
        border-color: purple;
      }
      .light {
        border-style: solid;
        border-color: lightyellow;
      }

      .units_list_div {
        display: flex;
        height: 18em;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: .5em;
      }

      .unit_index_pic {
        width: 100px;
        height: 16.2em;
      }

      .unit_div {
        width: 100px;
        height: 19em;
        background-color: #292b33;
        margin-left: .5em;
        margin-top: .5em;
      }


        .sc_index_pic {
          width: 150px;
        }

        .sc_div {
          width: 150px;
          height: 18.5em;
          margin-left: .5em;
          margin-top: .5em;
          background-color: #292b33;
        }

      .action_buttons {
        display: flex;
        flex-direction: row;
        padding: .5em;
        padding-left: 0em;
        background-color: #292b33;
      }

      h2 {
        font-size: 1em;
        height: auto;
        margin: 0em;
        padding: .3em;
        padding-left: .2em;
        background-color: #32343d;
        color: #e8a855;
      }

      .edit_button {
        padding-left: .2em;
      }

      .delete_button {
        padding-left: .5em;
        height: 15px;
      }
      /* ===========unit profiles=========== */

      .unit_profile_div {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
      }

      .unit_header_div {
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .main_short_unit_stats_div {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
      }

      .unit_profile_pic {
        padding-left: 10px;
        padding-bottom: 5px;
      }

      .profile_imgs {
      height: 320px;
      }

      .short_unit_stats_div {
        background-color:#424451;
        border-style: solid;
        border-width: 1px;
      }

      .short_stat_title {
        font-size: 1em;
        margin: 0em;
        padding: .3em;
        background-color: #32343d;
        color: #e8a855;
      }

      .short_stats {
        width: 100%;
        font-size: .9em;
        color: #c1885e;
        padding-left: 1em;
        margin-right: 1em;
      }

      .unit_stats_div {
        background-color:#424451;
        padding-bottom: 1em;
        padding-right: 1em;
      }

      .stat_title {
        font-size: 1em;
        height: auto;
        width: 100%;
        margin: 0em;
        padding: .5em;
        background-color: #32343d;
        color: #e8a855;
      }

      .stats {
        font-size: .9em;
        color: #c1885e;
        width: 100%;
      }

    .stats > p {
      padding: 1em;
    }

      /* ===========form profiles=========== */
      .form_div, .form_div2 {
        /* margin: 1em; */
          background-color:#424451;
      }

      .content {
        max-width: 100%;
        margin-top: .5em;
        margin-bottom: .5em;
      }

      label {
        color: #e8a855;
      }

      dt {
        background-color: #32343d;
        padding-left: .5em;
        padding: .5em;
      }

      input, textarea {
          background-color: #b7bacc;
      }
    }
    /* ===========form profiles=========== */

/* =====================
medium window sizes
===================== */
/* @media only screen and (min-width: 9000px) { */



/* =====================
large window sizes
===================== */
