/* =====================
basic styles
===================== */
  body {
    padding: .3em;
    font-family: sans-serif;
  }

  a:link, a:active, a:visited  {
    padding: .2em;
    color: red;
  }

#add_new_unit {
    font-size: 1em;
    padding: .5em;
    background-color: lightblue;
}

    /* ===========index profiles=========== */

  .unit_index_pic {
    height: 200px;
    width: 100px;
  }

  .units_list_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .unit_div {
    padding-left: 10px;
    width: 110px;
  }

  #form_div {
    width: 100%;
  }

  .content {
    max-width: 100%;
    margin-top: .5em;
    margin-bottom: .5em;
  }

  .index_unit_title {
    display: flex;
    flex-direction: row;
    padding: .6em;
    padding-left: 0em;
  }

  h3 {
    font-size: 1em;
    height: .1em;
    padding: .5em;
    padding-left: 0em;
    margin: 0em;
  }

  .edit_button {
    align-self: center;
    height: 15px;
  }

  .delete_button {
    align-self: center;
    padding-left: .5em;
    height: 15px;
  }
  /* ===========unit profiles=========== */

  .unit_profile_div {
      padding-top: .5em;
  }

  .unit_pic_div {
    padding-left: 50px;
  }

  .stat_title {
    font-size: .7em;
    color: #320099;
  }

  .stats {
    font-size: .5em;
    color: gray;
  }


/* =====================
medium window sizes
===================== */
@media only screen and (min-width: 500px) {

  /* ===========index profiles=========== */
  .unit_index_pic {
    height: 200px;
    width: 100px;
  }

  .index_pic_large {
    height: 200px;
    width: 100px;
  }

  .units_list_div {
    display: flex;
    flex-direction: row;
  }

  .unit_div {
    padding-left: 10px;
  }

  /* ===========unit profiles=========== */
    .unit_profile_div {
        padding-top: .5em;
        background-color: lightblue;
        display: flex;
        flex-direction: row;
    }

    .unit_pic_div {
      padding-left: 50px;
      width: 300px;

    }

    .stat_title {
      font-size: .7em;
      color: #320099;
    }

    .stats {
      font-size: .5em;
      color: gray;
      width: 300px;
    }

    .unit_stats_div {
      width: 200px;
    }
}


/* =====================
large window sizes
===================== */
